/* GENERAL */
html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    color: #2e2e2e;
}

a, a:active, a:focus {
    color: #2e2e2e;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #ef0d33;
    cursor: pointer;
}

a.logo {
    text-decoration: none;
    color: #000;
    padding-top: 20px;
    margin-left: 15px;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.sectionTitle {
    font-size: 40px;
}

/* HEADER */
.homeHeader .stickyHeader, .portfolioHeader .stickyHeader {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #fff;
    margin-left: -15px;
    margin-right: -15px;
    height: 60px;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
}

nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
    margin-right: 15px;
    font-size: 14px;
}

nav a {
    padding-left: 50px;
    color: #000000;
    text-transform: uppercase;
}

nav a.active {
    color: #ef0d33;
}

nav a span:hover {
    text-decoration: none;
    color: #ef0d33;
    cursor: pointer;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav a span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    color: #000;
    cursor: default;
}

.mainImage {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -5;
}

.homeHeader {
    height: 100vh;
    /*max-height: 1120px;*/
}

.homeHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    z-index: -5;
}

.homeHeader .logoImage {
    width: 10%;
    height: 10%;
}

.callOut p {
    font-size: 100px;
    color: #ffffff;
    margin-top: 20%;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .callOut p  {
        font-size: 48px;
        margin-top: 65%;
    }
}


.colorPoint {
    color: #ef0d33;
}

/* Content */
.content {
    padding-top: 100px;
    padding-bottom: 100px;
}
/*
ABOUT
 */
p.shortAbout {
    margin-top: 10px;
    color: #5e5e5e;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    line-height: 53px;
}

p.shortAbout span {
    color: #ef0d33;
}

.content .aboutBlock {
    /*margin-bottom: 20px;*/
}

@media (min-width: 425px) and (max-width: 769px) {
    .content .aboutBlock {
        height: 300px;
    }
}

.content .aboutBlock .aboutContent {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
    transition: margin 0.2s ease-out;
}

.content .aboutBlock .aboutContent:hover {
    margin-top: -20px;
    margin-bottom: 20px;
}

.content .aboutBlock .aboutContent:before {
    content: '';
    position: absolute;
    width: 90%;
    height: 0px;
    border-bottom: 1px solid #ef0d33;
    bottom: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.content .aboutBlock .aboutContent:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.content .aboutBlock .aboutContent {
    /*background: #f5f5f5;*/
    /*height: 400px;*/
    /*padding: 50px 15px 15px 15px;*/
    /*margin-bottom: 40px;*/
}

.content .aboutBlock .aboutContent i {
    color: #ef0d33;
    font-size: 40px;
    /*margin-bottom: 30px;*/
}

.content .aboutBlock .aboutContent h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.content .aboutBlock .aboutContent p {
    color: #5e5e5e;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.subTitle {
    color: #808080;
}

.sectionIntro {
    margin-bottom: 100px;
}

.content .buttonRow {
    margin-top: 50px;
}

.content .buttonRow .ctaButton {
    background: #ef0d33;
    color: #ffffff;
    padding: 20px 120px 20px 120px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content .buttonRow .ctaButton:hover {
    background: #111517;
    color: #ffffff;
}

.content .textField {
    border: 1px solid #f5f5f5;
    width: 236px;
    line-height: 16px;
    font-size: 16px;
    height: 50px;
}

.content .sendBtn {
    background: #ef0d33;
    border: none;
    color: #fff;
    padding: 15px 30px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.content .sendBtn:hover {
    background: #111517;
    color: #ffffff;
}

.emailRow {
    margin-top: 50px;
    margin-bottom: 15px;
}

/*
WORK
 */

#work.workContent {
    padding-bottom: 100px;
    padding-top: 100px;
    border-top: 1px solid #f5f5f5;
}

.workContent .titleRow, .contactContent .titleRow {

}

.workContent h2, .contactContent h2 {
    color: #111517;
}

.workContent p, .contactContent p {
    color: #808080;
}

.workContent .row .cbp-l-filters-alignRight .portfolioTitle {
    position: absolute;
    left: 15px;
    top: -20px;
    text-align: left;
    display: inline-block;
}

@media (max-width: 767px) {
    .workContent .row .cbp-l-filters-alignRight .portfolioTitle {
        position: static;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .portfolioFilters {
        text-align: center!important;
    }
}


.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
    color: #ef0d33!important;
    background-color: transparent!important;
    border-color: #ef0d33!important;
    cursor: default;
}

.cbp-l-filters-alignRight .cbp-filter-item {
    background-color: transparent;
    color: #8B8B8B;
    cursor: pointer;
    font: 400 11px/31px "Roboto", sans-serif!important;
    padding: 0 14px;
    position: relative;
    overflow: visible;
    margin: 0 3px 10px 3px;
    border: 1px solid #E4E2E2;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out;
}

/*
CALL OUT SLOGAN
 */
.callOutRow {
    background: #ef0d33;
    padding-top: 60px;
    padding-bottom: 60px;
}

.callOutRow p {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

}

/*ABOUT*/
.moreAboutRow img {
    margin-bottom: 20px;
}
/*
CONTACT
 */
.contactContent {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #f5f5f5;
}

.contactContent .moreAboutRow {
    margin-top: 40px;
}

.contactContent .moreAboutContent p {
    color: #5e5e5e;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

/*
CONTACT FORM
 */

.contactFormContent {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contactFormContent .contactRow {
    /*margin-top: 40px;*/
}

.contactFormContent p {
    color: #808080;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.contactForm {
    margin-top: 20px;
}

.contactFormContent .contactRow .contactDetails i {
    display: inline;
    font-size: 24px;
    color: #ef0d33;
    margin-right: 20px;
}

.contactFormContent .contactRow .contactDetails {
    margin-top: 40px;
    line-height: 2.5;
}

.contactForm input, .contactForm textarea {
    border: 2px solid #f5f5f5;
    font-size: 17px;
    line-height: 19px;
    font-weight: 300;
    width: 100%;
    display: inline-block;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 10px;
    background: #f5f5f5;
}

@media screen and (min-width: 1024px) {
    .contactForm input, .contactForm textarea {
        /*width: 50%;*/
    }
}

.contactForm input {
    height: 50px;
    outline: none;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contactForm textarea {
    resize: none;
}

.contactForm textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #ef0d33;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contactForm input:focus {
    outline: none;
    box-shadow: none;
    border-color: #ef0d33;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}


.contactForm button {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 100%;
    border: none;
    background: #ef0d33;
    color: #ffffff;
    height: 50px;
    border-radius: 0;
    font-size: 19px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
    .contactForm button {
        width: 30%;
        float: right;
    }
}

.contactForm button:hover {
    background: #111517;
    color: #ffffff;
}

.contactForm button i {
    margin-left: 5px;
}

/* Footer */
footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #111517;
    color: #808080;
    font-size: 14px;
}

.footer .container .copyrightContent p span {
    color: #ef0d33;
}

.footer .socialsContent .socialIcons {
    float: right;
}

.footer .socialsContent .socialIcons i {
    font-size: 20px;
    margin-left: 15px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer .socialsContent .socialIcons i:hover, .footer .socialsContent .socialIcons i:active, .footer .socialsContent .socialIcons i:focus {
    color: #ef0d33;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .footer .copyrightContent {
        text-align: center;
    }

    .footer .socialsContent {
        text-align: center;
    }

    .footer .socialsContent .socialIcons {
        float: none;
        text-align: center;
    }
}

/* -----------------------------PROJECT PAGE----------------------------- */

.bottomNavigation {
    height: 100px;
    background: #f5f5f5;
    line-height: 100px;
}

.bottomNavigation i {
    color: #ef0d33;
}

.bottomNavigation .previousButton {
    float: left;
}

.bottomNavigation .previousButton i {
    margin-right: 10px;
}

.bottomNavigation .homeButton {
    text-align: center;
}

.bottomNavigation .nextButton {
    text-align: right;
}

.bottomNavigation .nextButton i {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .bottomNavigation{
        font-size: 14px;
    }
}

#projectDetail .projectTitle p {
    display: inline-block;
    margin-right: 50px;
    font-family: 'Roboto Slab', serif;
}

#projectDetail .projectTitle p i {
    color: #ef0d33;
}

#projectDetail .projectMainImage {
    margin-top: 20px;
}

#projectDetail .projectText {
    font-family: 'Roboto Slab', serif;
    margin-top: 50px;
}
